body{
    background-color: rgb(249, 247, 254);
    margin: 100px 0;
    overflow-x: hidden;
}
:root {
    --primary-color: #6c63ff;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
  }

/* index.html starts */
.intro{
    position: relative;
    font-family: "Playfair Display", serif;
    font-size: 25px;
    overflow-x: hidden;
}
    .navbar{
        font-size: 25px;
            background-color: rgba(0, 0, 0, 0);
            padding: 20px;
            overflow-x: hidden;
            
    }
    .navbar1{
        background-color: pink;
        font-family: "Playfair Display", serif;
        font-size: 25px;
    }
    
    .navbar-brand{
        margin-left: -100px;
        margin-right: 60px;
        font-family: "Playfair Display", serif;
        font-size: 35px;
        
    }
    .hero{
        margin: 0;
    }
    .display-img{
        position: relative;
        width: 100%;
        height: 800px;
        margin-top: -200px;
        overflow-x: hidden;
    }
    .text-center1{
        font-size: 48px;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(39, 33, 66);
        line-height: 2;
                
    }
    .text-center2{
        font-size: 96px;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(39, 33, 66);
        line-height: 2;
        
                
    }
    .text-center3{
        font-size: 26px;
        top: 45%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(33, 29, 51);
        color: whte;
        font-weight: 900;
        line-height: 2;
                
    }
    .text-center4{
        top: 60%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        padding: auto;
        line-height: 2;
                
    }
    .text-center5{
        margin-right: 50px;
    }
    .secondary-link {
        border-radius: 4px;
        font-family: "Playfair Display", serif;
        padding: 20px 15px;
        width: 180px;
        text-align: center;
        background-color: rgb(242, 140, 157);
        margin-top: 30px;
        font-weight: 900;
        font-size: 20px;
        text-decoration: none;
        text-transform: capitalize;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }
    .contact-box{
        background-color: rgb(243, 240, 253);
        width: 1100px;
        height: 140px;
        padding: 30px;
        
    }
    h5{
        font-weight: 800;
        font-family: "Playfair Display", serif;
        font-size: 33px;
    }
    .work-together{
        font-family: "Playfair Display", serif;
        font-size: 20px;
    }
    .btn{
        padding: 10px;
        
        }
        .primary-link {
            font-weight: 500;
        font-family: "Playfair Display", serif;
          border-radius: 4px;
          padding: 20px 30px;
          text-decoration: none;
          text-transform: capitalize;
          background: var(--primary-color);
          box-shadow: var(--box-shadow);
          color: white;
        }
        .social-links{
            display: flex;
            justify-content: center;
        }
        .social-links a {
            position: relative;
            display: flex;
            justify-content: center;
            margin: 60px;
            background-color: rgb(243, 240, 253);
            padding: 13px 17px;
            font-size: 30px;
            border-radius: 50%;
            text-decoration: none;
            transition: all 150ms ease-in-out;
        }
        footer .social-links a:hover{
            color: rgb(238, 108, 130);
            background-color: rgb(245, 225, 229);
        }
        .open-source{
            text-align: center;
            font-size: 20px;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
        }

/* index.html ends */
  
  /* about.html starts */
  .about{
    position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: bold;
            font-style: normal;
            font-size: 70px;
}
.about-me{
    margin-top: 300px;
    
}
.about-img{
    width: 590px;
    height: 700px;
    margin-left: 30px;
}
.about-me-content{
    padding: 30px 0;
    margin-top: -45px;
}
.text-about1{
    margin-left: 170px;
    font-size: 33px;
    font-family: "Playfair Display", serif;
}
.text-about2{
    font-size: 43px;
    margin-left: 120px;
    font-family: "Playfair Display", serif;
    margin-bottom: 10px;
}
.text-about3{
    font-size: 28px;
    margin-left: 70px;
    font-family: "Playfair Display", serif;
    margin-bottom: 15px;
}

.p-about-me{
    font-size: 15px;
    font-family: "Playfair Display", serif;
}
.scroll-right {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 55px;
  }
  .fa-solid{
    color: rgb(227, 56, 85);
    transition: all 0.3s ease-in-out;
    
  }
  .fa-solid:hover {
    transform: scale(1.2);
    color: #6c63ff;
  }
  .scroll-left {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 55px;
  }
  
  /* about.html ends */


  /* work.html starts */
  .work-heading{
    font-size: 80px;
    text-align: center;
    margin-top: 10px;
margin-bottom: 50px;

}
  .work{
    font-size: 30px;
    margin-bottom: 80px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
.my-projects{
    margin-bottom: 100px;
}
.tech-heading{
    font-size: 50px;
    
}
.tech-img{
    width: 400px;
    height: 300px;
   
}
.tech-btn{
    padding: 25px 60px;
    background-color: rgb(0, 120, 255);
    color: white;
    margin-top: -50px;
    margin-right: 35px;
}
.law-heading{
    font-size: 50px;
}
.law-img{
    width: 400px;
    height: 300px;
}
.law-btn{
    padding: 25px 60px;
    background-color: rgb(101, 67, 33);
    color: white;
    
}
/* work.html ends */

/* tech.html starts */

.tech{
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
}
.v-projects{
    font-size: 45px;
   text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(0, 120, 255);
    text-decoration: underline;
}
.iced-tea{
    font-size: 45px;
    
}
.weather-app{
    font-size: 45px;
    margin-top: 50px;
}
.cert{
    font-size: 50px;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(0, 120, 255);
    text-decoration: underline;
}
.intro-cert{
    margin-bottom: 90px;
}
.intro-heading{
    font-size: 40px;
}

.intro-btn{
    margin-bottom: 90px;
}
.web-intro{
    font-size: 40px;
}
.web-btn{
    margin-bottom: 90px;
}
.web-cert{
    margin-bottom: 90px;
}
.resp-intro{
    font-size: 40px;
}
.resp-btn{
    margin-bottom: 200px;
}
/* tech.html ends */

/* contact.html starts */

.contact1{
    font-size: 60px;
    margin-top: 60px;
    margin-bottom: 70px;
    text-align: center;
  }
  .contact2{
    text-align: center;
    color: rgb(242, 140, 157);
    font-size: 40px;
  }
.contact-links{
    margin-bottom: 150px;
    position: relative;
    margin: 60px;
    padding: 30px 40px;
    font-size: 30px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}
.linkedin{
    margin-left: 40%;
    font-family: "Poppins", sans-serif;
    font-size: 20px;

}
.linkedin-img{
    width: 150px;
}
.linkedin-para{
    font-size: 25px;
}
.github{
    margin-left: 40%;
    margin-top: 70px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
.github-img{
    width: 150px;
    
}
.github-para{
    font-size: 25px;
}
.email{
    margin-left: 40%;
    margin-top: 70px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
   
}
.email-img{
    width: 150px;
}
.email-para{
    font-size: 25px;
}
/* contact.html ends */

h1,
h2,
h3 {
  margin: 0;
}

h1 {
 
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}


h2 {
 
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

h3 {

  opacity: 0.8;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

  

footer{
    margin: 30px 0;
    margin-top: 50px;
}

    
    .my-work{
        margin-left: 270px;
        padding: 25px 50px;
        font-family: "Playfair Display", serif;
        font-weight: 600;
        font-size: 20px;
        color: var(--primary-color);
        background-color: rgb(249, 247, 254);
        border: 0;
        margin-bottom: 150px;
        cursor: default;
      }
      
    
    

    
    
    .weather-img{
        margin-top: 50px;
    }
    .container-footer{
        margin-top: 200px;
    }
   
.navigation-links {
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }



a{
    text-decoration: none;
}
p {
    font-size: 15px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
.h1{
    margin-top: 150px;
    font-size: 50px;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-weight: 600;  
}
 
@media(max-width: 576px){
    /* index.html starts */
    .intro{
        max-width: 100%;
        overflow-x: hidden;
    }
    
    .navbar{
        max-width: 100%;
        font-size: 20px;
        
    }
   
.navbar1{
    max-width: 100%;
}
    .navbar-brand{
        max-width: 100%;
        font-size: 20px;
        margin-left: -15px;


    }
    .display-img{
        max-width: 100%;
        height: 55%;
        overflow-x: hidden;
    }
    .text-center1, .text-center2, .text-center3{
        margin: 0;
        padding: 0;
    }
    .text-center1{
        font-size: 30px;
        margin: 0;
        margin-right: -60px;
        top: 30%;
    }
    .text-center2{
        font-size: 40px;
        margin: 0;
        margin-right: -120px;
        top: 37%;
    }
    .text-center3{
        font-size: 90%;
        margin-right: -60px;
        top: 45%;
    }
    .text-center4{
        top: 55%;
    }
    .text-center5{
        width: 100px;
        height: 60px;
        font-size: 10px;
        text-align: center;
    }
    .text-center6{
        width: 100px;
        height: 60px;
        font-size: 10px;
        text-align: center;
    }
    h5{
        font-size: 20px;
    }
    
    .work-together{
        font-size: 15px;
    }
    .btn{
        height: 70px;
        width: 100px;
        font-size: 13px;
        text-align: center;
    }
    .social-links a{
        margin: 10px;
        padding: 10px 14px;
        font-size: 20px;
        border-radius: 70%;
    }
    .open-source {
        font-size: 13px;
    }
    /* index.html ends */
    
    /* about.html starts */
    .about{
        font-size: 40px;
        margin-right: -60px;
    }
    .about-img{
        overflow-x: hidden;
        height: 65%;
        width: 90%;
        margin-top: -40px;
        
    }
    .text-about1{
        font-size: 25px;
        margin-top: -70px;
        margin-left: 100px;
    }
    .text-about2{
        font-size: 30px;
        margin-left: 40px;
    }
    .text-about3{
        font-size: 13px;
        margin-left: 50px;
    }
    
    .p-about-me{
        text-align: center;
    }
    .scroll-left{
        font-size: 30px;
    }
    .scroll-right{
        font-size: 30px;
    }
    /* about.html ends */

    /* work.html starts */
    .work-heading{
        font-size: 50px;
        margin-top: -30px;
    }
    .work{
        font-size: 15px;
        text-align: center;
    }
    /* work.html ends */
   
    /* tech.html starts */
    .tech{
        font-size: 25px;
        margin-top: 5px;
        text-align: center;
    }
    .v-projects{
        font-size: 45px;
        text-decoration-line: underline;
    }
    /* tech.html ends */

    /* contact.html starts */
    .contact1{
        font-size: 20px;
      margin-top: -10px;
    }
    .contact2{
        font-size: 18px;
        margin-top: -20px;
    }
    .linkedin-img{
        height: 55px;
        width: 55px;
        margin-top: -30px;
    }
    .linkedin-para{
        font-size: 12px;
    }
    .linkedin-img{
        height: 55px;
        width: 55px;
        margin-top: -30px;
    }
    .linkedin-para{
        font-size: 12px;
    }
    .github-img{
        height: 55px;
        width: 55px;
        margin-top: -30px;
    }
    .github-para{
        font-size: 12px;
    }
    .email-img{
        height: 55px;
        width: 55px;
        margin-top: -30px;
    }
    .email-para{
        font-size: 12px;
    }
    /* contact.html ends */
    .my-work{
        margin-left: 110px;
        font-size: 13px;
    }
    
}

